.font--bold {
  font-weight: $font-bold;
}

.font--semi-bold {
  font-weight: $font-semi-bold;
}

.font--normal {
  font-weight: $font-normal;
}

.font--semi-light {
  font-weight: $font-semi-light;
}

.font--light {
  font-weight: $font-light;
}

.height--full {
  min-height: 100vh;
}

.height--quarter {
  min-height: 75vh;
}

.height--half {
  min-height: 50vh;
}

.hover--no-underline {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.highlight--primary {
  color: $secondary-color; // background-color: $white--main;
}

.utility__button {
  padding: 12px 28px;
  background-color: transparent;
  color: $white--main;
  border-radius: 30px;
  border: 2px solid $white--main;
  font-size: 75%;
  letter-spacing: 3px; // transform: translateY(80px);
  transition: .16s ease-out;
  &:hover {
    border: 2px solid transparent;
    border-bottom: 2px solid darken($white, 20%);
    transform: translateY(-4px) scale(1.01);
    background-color: $white--main;
    color: $primary-color;
    border-radius: 3px;
  }
}

.utility__button--inverted {
  @extend .utility__button;
  padding: 14px 30px;
  border: 0 solid transparent;
  background-color: $white--main; // background: #ffe259;
  // /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  // /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #ffa751, #ffe259);
  // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #396afc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $white--main;
  &:hover {
    border: 0 solid transparent;
    color: $white;
  }
}

.utility__link--small {
  font-size: 13px;
  padding: 2px 3px 2px 1px;
  font-family: 'Montserrat', sans-serif;
  @extend .font--semi-bold;
  @extend .hover--no-underline;
}

.utility__link--small-dark {
  color: $black--main; // border-bottom: 1px solid rgba($black--main, .6);
  &:hover {
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
  }
}

.animate--build {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1.9s cubic-bezier(.4, .2, 0, 1);
}

.animate--fade-in {
  transform: translateY(100%);
  opacity: 0;
  transition: 2.9s cubic-bezier(.4, .2, 0, 1);
}

.content {
  max-width: 800px;
}